# Add below the github repositories you wish to monitor, one per line
github_repositories:
  - stuartlangridge/sorttable
  - stuartlangridge/ColourPicker

# Teams; a grouping of repositories. This is useful in larger
# environments where one team is responsible for a number of
# different repositories and would like to see statistics for
# those repositories together in aggregate.
# Optional: if you don't use teams, this section can be omitted.
teams:
  myteamnamehere:
    - first/repository-in-this-team
    - second/repository-in-this-team

# List here the directory where you want the dashboard HTML file
# to be written. If this directory doesn't exist, it will be created.
output_directory: dashboard

# List here the directory where you want the admin database
# to be written. If this directory doesn't exist, it will be created.
database_directory: dashboard

# Specify a list of organizations here. This is NOT a GitHub
# organization; it is an org as added by you in the Organizations
# section of a contributor's dashboard. Contributions by users
# in one of these organizations are excluded when producing the
# "outside the org" dashboards.
my_organizations:
  - LinuxFund

# If hoursToRespond is specified, then a line will be drawn on
# time series graphs at the position specified; the idea here is
# that if you'd like to respond to PRs or issues within a certain
# period, you can then look at the Time To Respond graph for issues
# and see whether you're meeting that. Defining this option will also
# make the list-of-issues (and PRs) widget show how many issues were 
# not responded to in this time.
hoursToRespond: 96

# Provide an authentication key to require authentication to edit
# organizations and notes. Supported authentication types are:
#     github:
#         This requires a client_id and client_secret, which are obtainable
#         by registering a Github OAuth2 app as per instructions at
#         https://developer.github.com/v3/guides/basics-of-authentication/
#         and an organization. This is not a Measure organization, it's a
#         Github organization; anyone who signs in with Github and is a
#         member of that Github organization will have admin rights in the
#         dashboards and can create and edit Measure organization memberships.
#         When registering, add the authorization callback URL as
#         http://your-measure-deployment/github-login.php
authentication:
  github:
    client_id: abababababababababab
    client_secret: cdcdcdcdcdcdcdcdcdccdcdcdccdcdcdcdcdcdcd
    organization: MeasureOSS
