# Add below the github repositories you wish to monitor, one per line
github_repositories:
  - stuartlangridge/sorttable
  - stuartlangridge/ColourPicker

# List here the directory where you want the dashboard HTML file
# to be written. If this directory doesn't exist, it will be created.
output_directory: dashboard

# List here the directory where you want the admin database
# to be written. If this directory doesn't exist, it will be created.
database_directory: dashboard

# Specify a list of organizations here. This is NOT a GitHub
# organization; it is an org as added by you in the Organizations
# section of a contributor's dashboard. Contributions by users
# in one of these organizations are excluded when producing the
# "outside the org" dashboards.
my_organizations:
  - LinuxFund

# If hoursToRespond is specified, then a line will be drawn on
# time series graphs at the position specified; the idea here is
# that if you'd like to respond to PRs or issues within a certain
# period, you can then look at the Time To Respond graph for issues
# and see whether you're meeting that. Defining this option will also
# make the list-of-issues (and PRs) widget show how many issues were 
# not responded to in this time.
hoursToRespond: 96
