<section class="bignumber">
<h1>{{title}}</h1>
<big>{{bignumber}}</big>
<p>{{unit}} {{#link}}<a href="{{link}}"> </a>{{/link}}</p>
<dl class="stats">
    <dt>mean</dt><dd>{{mean}}</dd>
    <dt>median</dt><dd>{{median}}</dd>
    <dt>95th percentile</dt><dd>{{pc95}}</dd>
</dl>
<p><small>{{changename}}: <strong>{{changeamount}}</strong></small></p>
</section>