{{> header.tmpl}}
                {{#widgets}}
                <article data-widget="{{widget}}">
                    {{{html}}}
                </article>
                {{/widgets}}
{{> footer.tmpl}}
