{{> header.tmpl}}
    {{#includeIncExcOrgSwitch}}
    <h2 class="incexcorg"><a href="$$BASEURL$$/{{includeExcludeOrgFilename}}" onclick="setInclude({{#excludeOrg}}'include-org'{{/excludeOrg}}{{^excludeOrg}}'exclude-org'{{/excludeOrg}})">Contributions from the organization included {{#excludeOrg}}<img src="$$BASEURL$$/assets/img/cross.svg" alt="No: ">{{/excludeOrg}}{{^excludeOrg}}<img src="$$BASEURL$$/assets/img/tick.svg" alt="Yes: ">{{/excludeOrg}}</a></h2>
    {{/includeIncExcOrgSwitch}}
                {{#widgets}}
                <article data-widget="{{widget}}"{{#extraClasses}} class="{{extraClasses}}"{{/extraClasses}}>
                    {{{html}}}
                </article>
                {{/widgets}}
    
{{#executedQueries.length}}
<article data-widget="debug-queries">
<section>
<h1>Debug: Queries</h1>
<ul>
    {{#executedQueries}}
        <li><strong>{{widget_name}}</strong> {{collection}}:{{args}}</li>
    {{/executedQueries}}
</ul>
</section>
</article>
{{/executedQueries.length}}
{{> footer.tmpl}}
