
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>Jeremypanel 2017</h3>
            </footer>
        </div>
    <script>var BASE_API_URL = "$$BASEURL$$/api.php";</script>
    <script src="$$BASEURL$$/assets/js/main.js"></script>
    <script src="$$BASEURL$$/assets/js/chartjs-plugin-annotation.js"></script>
    <script src="$$BASEURL$$/assets/js/chartjs-plugin-adjustable.js"></script>
    <script src="$$BASEURL$$/assets/js/chartjs-plugin-linkable.js"></script>
    </body>
</html>
