
            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>Jeremypanel 2017</h3>
            </footer>
        </div>
    </body>
</html>
