<section class="graph">
<h1>{{title}}</h1>
<div class="chart-container" style="position: relative; width: 100%"><canvas width="200" height="75" id="{{unique_id}}"></canvas></div>
<script>
(function() {
    new Chart(document.getElementById("{{unique_id}}"), {{{graphdata}}});
})()
</script>
</section>