{{> mainlessheader.tmpl}}
    <section>
        <table class="repolist sortable">
            <thead>
                <tr><th>Organization</th><th>Number of members (currently/who have since left)</th></tr>
            </thead>
            <tbody>
                {{#orgs}}
                <tr>
                    <td><a href="{{link}}">{{title}}</a></td>
                    <td sorttable_customkey="{{count_current}}">{{count_current}}/{{count_left}}</td></tr>
                {{/orgs}}
            </tbody>
        </table>
        <p><a href="organizations-edit.html">[Edit the organizations list]</a></p>
    </section>
{{> footer.tmpl}}