{{> mainlessheader.tmpl}}
    <section>
        <table class="repolist sortable">
            <thead>
                <tr><th>Organization</th><th>Number of members</th></tr>
            </thead>
            <tbody>
                {{#orgs}}
                <tr><td><a href="{{link}}">{{title}}</a></td><td>{{count}}</td></tr>
                {{/orgs}}
            </tbody>
        </table>
    </section>
{{> footer.tmpl}}