<section class="orgs" data-login="{{login}}" data-auth-required>
<h1>Organizations</h1>
<ul class="orgsin"></ul>
<hr>
<details>
    <summary>Add to an org</summary>
    <div class="orgadder">
        <label for="orgslist">Org name</label>
        <select name="orgslist"></select>
        <datalist id="orgsdatalist"></datalist>
        <label for="neworg">Or new</label>
        <input name="neworg" list="orgsdatalist">
        <label for="start">Start date</label>
        <input type="date" name="org-start">
        <label for="end">End date</label>
        <input type="date" name="org-end">
        <button>Add {{login}} to organization</button>
    </div>
</details>
</section>
<script src="$$BASEURL$$/assets/js/widgets/orgs.js"></script>
<style>
section.orgs ul.orgsin {
    margin: 0;
    padding: 0;
}
section.orgs ul.orgsin li {
    padding: 0;
    list-style: none;
}
section.orgs ul.orgsin a.remove {
    float: right;
}
section.orgs ul.orgsin em {
    display: block;
}

section.orgs div.orgadder {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
section.orgs div.orgadder button {
    grid-column: 1 / 3;
}
section.orgs div.orgadder button[disabled] {
    color: rgba(0,0,0,0.4);
}

</style>
