{{> mainlessheader.tmpl}}
    <section>
        <ul class="repolist">
        {{#links}}
        <li><a href="{{link}}">{{title}}</a></li>
        {{/links}}
        </ul>
    </section>
{{> footer.tmpl}}