{{> mainlessheader.tmpl}}
            <div class="main wrapper clearfix report">
                <ul>
                {{#reports}}
                    <li>
                        <a 
                            href="$$BASEURL$$/reports/{{slug}}.{{extension}}"
                            {{#requires_authentication}}
                            class="requires_authentication"
                            {{/requires_authentication}}
                        >{{title}}</a>
                    </li>
                {{/reports}}
                </ul>
            </div>
{{> footer.tmpl}}
