{{> mainlessheader.tmpl}}
            <div class="main wrapper clearfix report">
                <h1>Search</h1>
                <form class="searchform">
                    Search: <input type="search">
                    <input type="submit">
                </form>
                    <div class="row">
                      <div class="column left">
                         show
                          <select id="showentries" onchange="doSearch()">
                            <option value=100>100</option>
                            <option value=500>500</option>
                            <option value=-1>All</option>
                          </select>
                          entries
                        <h4> Search on Keys </h4>
                        <ul style="list-style-type:none;padding-left: 0">
                          <li>
                            <input name="searchkey" type="checkbox" onclick="doSearch()" id="name" checked/>
                            <label for="name">Name</label>
                          </li>
                          <li>
                            <input name="searchkey" type="checkbox" onclick="doSearch()" id="login" checked/>
                            <label for="login">Login</label>
                          </li>
                          <li>
                            <input name="searchkey" type="checkbox" onclick="doSearch()" id="company" checked/>
                            <label for="company">Company</label>
                          </li>
                          <li>
                            <input name="searchkey" type="checkbox" onclick="doSearch()" id="location" checked/>
                            <label for="location">Location</label>
                          </li>
                          <li>
                            <input name="searchkey" type="checkbox" onclick="doSearch()" id="email" checked/>
                            <label for="email">Email</label>
                          </li>
                        </ul>
                      </div>
                      <div class="column right">
                        <div id="resultscount"></div>
                        <div id="resultstable"></div>
                      </div>
                    </div>
<style>
.searchform input { color: black; }
#resultscount {
    list-style: none;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: underline;
}
.column {
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.left {
  width: 20%;
}
.right {
  width: 80%;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
    #searchresults th, td {
        display: block;
    }
}
.row:after {
    content: "";
    display: table;
    clear: both;
    box-sizing: border-box;
}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.0.4/fuse.min.js"></script>
<script>
var searchdata = {{{searchdata}}};
var searchbox = document.querySelector(".searchform input[type=search]");
var searchkeys = ["name", "login", "company", "location", "email"]
var fuse = new Fuse(searchdata, {
    keys: searchkeys,
    threshold: 0.3
});
var waitTimer;
function doSearch() {
    // bump the timer
    clearTimeout(waitTimer);
    var entries = document.getElementById ("showentries");
    entries = entries.options[entries.selectedIndex].value
    waitTimer = setTimeout(function() {
        // create the table here to avoid sortable parsing an incomplete table
        var table = document.createElement("table");
        table.setAttribute("id", "searchresults");
        table.setAttribute("class", "sortable");
        document.getElementById("resultstable").appendChild(table)
        var sr = document.getElementById("searchresults");
        fuse.options.keys = checkSearchKey()
        sr.innerHTML = "";
        var results = fuse.search(searchbox.value);
        if (entries == -1 || results.length < entries) {
            entries = results.length
            document.getElementById("resultscount").innerHTML = "Found all " + results.length + " results";
        } else {
            document.getElementById("resultscount").innerHTML = "Showing " + entries + " of " + results.length + " results";
            results = results.slice(0,entries);
        }
        var thead = document.createElement("thead");
        var tr = document.createElement("tr");
        ["Login", "Type", "Name", "Company", "Location", "Email"].forEach(function(h) {
            addToRow(tr, "th", document.createTextNode(h));
        })
        thead.appendChild(tr);
        sr.appendChild(thead)
        var tbody = document.createElement("tbody");
        results.forEach(function(r) {
            var tr = document.createElement("tr");

            var a = document.createElement("a");
            a.href = r.link;
            a.appendChild(document.createTextNode(r.login || r.name));
            addToRow(tr, "td", a)

            var type = document.createTextNode(r.type || "");
            addToRow(tr, "td", type)

            var name = document.createTextNode(r.name || "");
            addToRow(tr, "td", name)

            var company = document.createTextNode(r.company || "");
            addToRow(tr, "td", company)

            var location = document.createTextNode(r.location || "");
            addToRow(tr, "td", location)

            var email = document.createTextNode(r.email || "");
            addToRow(tr, "td", email)

            tbody.appendChild(tr);
        })
        sr.appendChild(tbody);
        sorttable.makeSortable(document.querySelector("#searchresults"))
    }, entries);
}
function addToRow(row, type, inner) {
    var td = document.createElement(type);
    td.appendChild(inner);
    row.appendChild(td);
    return row
}
function checkSearchKey() {
    var checkboxes = document.getElementsByName('searchkey');
    var selected = [];
      for (var i=0; i<checkboxes.length; i++) {
         if (checkboxes[i].checked) {
            selected.push(checkboxes[i].id);
         }
      }
    return selected
}

document.querySelector(".searchform").onsubmit = function(e) {
    e.preventDefault();
    doSearch();
}
searchbox.oninput = doSearch;
</script>
{{> footer.tmpl}}
