<section class="dl" data-auth-required data-login="{{login}}">
<h1><button>Edit</button>{{title}}</h1>
<form>
<dl>
    {{#dl}}
    <dt {{#editname}}data-edit-name="{{editname}}"{{/editname}}>{{dt}}</dt>
    <dd>{{dd}}</dd>
    {{/dl}}
</dl>
</form>
</section>
<style>
article[data-widget="basicInfo"] h1 {
    right: 10px;
    max-width: initial;
}
article[data-widget="basicInfo"] h1 button {
    padding: 5px;
    float: right;
    background: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
}
</style>
<script src="$$BASEURL$$/assets/js/widgets/userBasicInfo.js"></script>
